@font-face {
    font-family: 'Akzidenz';
    src: url(./fonts/akzidenzgroteskpro-bold.ttf);
    font-weight: bold
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}